<%- include("partials/header") -%>
<h1>HOME</h1>
<p><%= startingContent %></p>
<% posts.forEach((post) => { %>
    <!-- Display each post title, you can add more content here as needed -->
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
<% }); %>

<%- include("partials/footer") -%>
